@import 'partials/mixins';

post-snippet {
  @include box_shadow(1);
  display: block;
  padding: 10px 15px 20px 20px;
  margin: 0 auto 15px auto;
  background-color: white;
  max-width: 800px;
}

post {
  @extend post-snippet;
}
