* {
  box-sizing: border-box;
}

$code_font: 'Inconsolata', consolas, monospace;

// Style for dynamically loaded posts
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #e0dfdf;

  post {
    div#body {
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Condensed', sans-serif;
      }

      h1 {
        font-weight: 300;
      }

      p {
        code {
          color: #c25;
          background-color: #f7f7f9;
          border: 1px solid #e1e1e8;
          border-radius: 3px;
        }
      }

      img {
        margin: 0 auto;
        display: block;
      }

      code {
        font-size: .85em;
        font-family: $code_font;

        * {
          font-family: $code_font;
        }
      }

      iframe {
        display: block;
        margin: 10px auto;
      }
    }
  }
}
