* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

// Style for dynamically loaded posts
body {
  margin: 0;
  background-color: #e0dfdf;

  post {
    div#body {
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Condensed', sans-serif;
      }

      h1 {
        font-weight: 300;
      }

      iframe {
        display: block;
        margin: 10px auto;
      }
    }
  }
}
