ul {
  margin: 20px 0 0 0;
  padding: 0;

  li {
    list-style: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;

    &:hover {
      background-color: #b1b1b1;
    }
  }
}
